.daily{
    font-family: 'Times New Roman', Times, serif
  }

  .dailyButton{
    font-family: Arial, Helvetica, sans-serif;
  }

  .daily-menu {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }

.menu-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-item.visible {
  opacity: 1;
  transform: translateY(0);
}
  
  






























  